@import "../../assets/variables";

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  transition: background 800ms, padding 500ms, box-shadow 700ms;

  &.header_scrolled {
    background: #000000;
    padding: 1rem 0.5rem 0.5rem;
    box-shadow: 0 20px 20px #000000;
  }

  .logo_text {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;

    .logo_special {
      color: $secondary-color;
    }
  }

  .nav_link {
    transition: 500ms;
    cursor: pointer;


  }

  .nav_link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $secondary-color;
    width: 0;
    height: 2px;
    transition: 0.4s;
  }

  .nav_link:hover::before,
  .nav_link:focus::before {
    width: 100%;
  }

  .nav_link:hover,
  .nav_link:focus {
    transform: scale(1.1);
  }
}
