@import "../../assets/variables";

.hero {
  background-color: #000;
  min-height: 100dvh;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 1px 40px #000000;

  .hero_text {
    max-width: 740px;

    h1 {
      line-height: 0.8;
    }
  }

  .hero_image_container {
    position: relative;
    border: 1px dotted rgba(255, 255, 255, 0.04);
    border-radius: 0.8rem;
    overflow: hidden;
    box-shadow: 45px 45px 20px #000000;
    max-width: 500px;
    background-color: rgba(2, 0, 0, 0.16);
    animation: animateHeroImgContainerShadow 20s infinite;

    .hero_image {
      max-width: 400px;
      opacity: 0.8;
      animation: animateHeroImgShadow 20s infinite;
    }
  }
}

@keyframes animateHeroImgContainerShadow {
  0% {
    box-shadow: 45px 45px 20px #000000;
  }
  50% {
    box-shadow: 10px 10px 20px #000000;
  }
  100% {
    box-shadow: 45px 45px 20px #000000;
  }
}

@keyframes animateHeroImgShadow {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.9;
  }
}

